node_modules
.DS_Store

# Ansible / SSH
*.pem
*.key
ansible/group_vars/*/vault.yml
*.retry

terraform/terraform.tfvars
# Ansible inventory contains non-sensitive host addressing only
# Keep secrets and private keys out of Git.
!ansible/inventory.ini
